.venv
__pycache__/
*.pyc   
api_keys.py
chat_gpt_query_prompt.txt
content_graph.trig
content_graph.ttl
demo_graph.ttl
example_trig.trig
example_turtle.ttl
generated_file_type.txt
graphrag_khops_request.txt
graphrag_khops_results.txt
graphxx_import.txt
label_value.txt
openai_query_results.txt
processed_local_identifier.txt
processed_uri.txt
repository_location.txt
schema_graph.ttl
sparql_query_results.txt
sparql_query_request.txt
upload_status.txt